## 04. Pandas(1)
- íŒŒì´ì¬ ê¸°ë°˜ì˜ ê°•ë ¥í•˜ê³  ì‚¬ìš©í•˜ê¸° ì‰¬ìš´ ë°ì´í„° ë¶„ì„ ë° ì¡°ì‘ ë¼ì´ë¸ŒëŸ¬ë¦¬!!

In [137]:
import pandas as pd
import numpy as np

print(pd.__version__)

2.3.1

### Pandasì˜ í•µì‹¬ ìë£Œ êµ¬ì¡°
- Series
- DataFrame

### Series
- ì¸ë±ìŠ¤(ë¼ë²¨)ì´ ë¶™ì€ 1ì°¨ì› ë°°ì—´
- ì¸ë±ìŠ¤ ì´ë¦„ì„ ì§ì ‘ ì§€ì •í•  ìˆ˜ ìˆìŒ

In [2]:
# ì‹œë¦¬ì¦ˆ ìƒì„±
# 1. ë¦¬ìŠ¤íŠ¸ë¡œ ìƒì„±
data = [10,20,30,40]
s = pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
# 2. ì¸ë±ìŠ¤ë¥¼ ì§ì ‘ ì§€ì •
data = [10,20,30,40]
s = pd.Series(data, index=["a", "b", "c", "d"])
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [4]:
# 3. ë”•ì…”ë„ˆë¦¬ë¡œ ì‹œë¦¬ì¦ˆ ìƒì„±
data = {"ì„œìš¸": 100, "ë¶€ì‚°": 200, "ëŒ€êµ¬": 300}
s = pd.Series(data)
print(s)

ì„œìš¸    100
ë¶€ì‚°    200
ëŒ€êµ¬    300
dtype: int64

In [5]:
# 4. í•˜ë‚˜ì˜ ê°’ìœ¼ë¡œ ì‹œë¦¬ì¦ˆ ìƒì„±
s = pd.Series(7, index=["ê°€", "ë‚˜", "ë‹¤"])
print(s)

ê°€    7
ë‚˜    7
ë‹¤    7
dtype: int64

In [8]:
# ì‹œë¦¬ì¦ˆì˜ ì£¼ìš” ì†ì„±
data = [10,20,30,40]
s = pd.Series(data, index=["a", "b", "c", "d"], name = "test data")

print("values:", s.values)  # ì‹¤ì œ ë°ì´í„° ë°°ì—´
print("index:", s.index)    # ì¸ë±ìŠ¤ ê°ì²´
print("dtype:", s.dtype)    # ì‹¤ì œ ë°ì´í„°ì˜ íƒ€ì…
print("size:", s.size)      # ë°ì´í„°ì˜ ê°œìˆ˜
print("shape:", s.shape)    # ë°°ì—´ì˜ í˜•íƒœ
print("name:", s.name)      # ì‹œë¦¬ì¦ˆì˜ ì´ë¦„

values: [10 20 30 40]
index: Index(['a', 'b', 'c', 'd'], dtype='object')
dtype: int64
size: 4
shape: (4,)
name: test data

In [ ]:
# ì‹œë¦¬ì¦ˆì˜ ì—°ì‚°
s1 = pd.Series([10,20,30], index=["a", "b", "c"])
s2 = pd.Series([5,6,7], index=["b", "c", "d"])

result = s1 + s2
print(result)
print()
result = s1 * s2
print(result)
print()
result = s1 - s2
print(result)

a     NaN
b    25.0
c    36.0
d     NaN
dtype: float64

a      NaN
b    100.0
c    180.0
d      NaN
dtype: float64

a     NaN
b    15.0
c    24.0
d     NaN
dtype: float64

In [9]:
# ì •ë ¬ë˜ì§€ ì•Šì€ ì¸ë±ìŠ¤ ê°„ ì—°ì‚°
# ì¸ë±ìŠ¤ ê¸°ì¤€ìœ¼ë¡œ ì—°ì‚° í›„ ì •ë ¬í•´ì¤Œ
s1 = pd.Series([10,20,30], index=["b", "a", "c"])
s2 = pd.Series([5,6,7], index=["c", "b", "a"])

result = s1 + s2
print(result)

a    27
b    16
c    35
dtype: int64

In [10]:
# ë¸Œë¡œë“œ ìºìŠ¤íŒ…
s = pd.Series([5,10,15], index=["a", "b", "c"])

print(s + 3)
print(s * 2)

a     8
b    13
c    18
dtype: int64
a    10
b    20
c    30
dtype: int64

In [11]:
# ë¶ˆë¦¬ì–¸ ì—°ì‚° ë° ì¸ë±ì‹±
s = pd.Series([50,60,70,80,90,100],  index=["a", "b", "c", "d", "e", "f"])

# ë¶ˆë¦¬ì–¸ ì—°ì‚°(ì¡°ê±´ì‹)
mask = s > 70
print(mask)
print(s[mask])

a    False
b    False
c    False
d     True
e     True
f     True
dtype: bool
d     80
e     90
f    100
dtype: int64

In [13]:
# ì‹œë¦¬ì¦ˆì™€ NumPy ë°°ì—´ ì—°ì‚° / íŒŒì´ì¬ ë¦¬ìŠ¤íŠ¸ ì—°ì‚°
s1 = pd.Series([10,20,30], index=["a", "b", "c"])
a = np.array([1,2,3])
l = [100,200,300]

print(s1 + a)
print(s1 + l)

a    11
b    22
c    33
dtype: int64
a    110
b    220
c    330
dtype: int64

In [43]:
# ì‹¤ìŠµ. Series ì—°ìŠµ
# 1. íŒŒì´ì¬ ë¦¬ìŠ¤íŠ¸ [5, 10, 15, 20]ì„ ì´ìš©í•´ Seriesë¥¼ ìƒì„±í•˜ì„¸ìš”.
data = [5, 10, 15, 20]
s = pd.Series(data)
print("ğŸ“ë¬¸ì œ1:\n",s)
print()
# 2. ê°’ [90, 80, 85, 70]ì— ëŒ€í•´ ì¸ë±ìŠ¤ë¥¼ ê°ê° 'êµ­ì–´', 'ì˜ì–´', 'ìˆ˜í•™', 'ê³¼í•™'ìœ¼ë¡œ ì§€ì •í•œ Seriesë¥¼ ë§Œë“œì„¸ìš”
data = [90, 80, 85, 70]
s = pd.Series(data, index=['êµ­ì–´', 'ì˜ì–´', 'ìˆ˜í•™', 'ê³¼í•™'])
print("ğŸ“ë¬¸ì œ2:\n",s)
print()
# 3. {'ì„œìš¸': 950, 'ë¶€ì‚°': 340, 'ì¸ì²œ': 520} ë”•ì…”ë„ˆë¦¬ë¥¼ ì´ìš©í•´ Seriesë¥¼ ë§Œë“¤ê³ , ì¸ì²œì˜ ê°’ì„ ì¶œë ¥í•˜ì„¸ìš”.
data = {'ì„œìš¸': 950, 'ë¶€ì‚°': 340, 'ì¸ì²œ': 520}
s = pd.Series(data)
print("ğŸ“ë¬¸ì œ3:\n",s)
print(s["ì¸ì²œ"])
print()
# 4. Series [1, 2, 3, 4]ë¥¼ ë§Œë“¤ê³ , ë°ì´í„° íƒ€ì…(dtype)ì„ ì¶œë ¥í•˜ì„¸ìš”.
data = [1, 2, 3, 4]
s = pd.Series(data)
print("ğŸ“ë¬¸ì œ4:\n","dtype:", s.dtype)
print()
# 5. ì•„ë˜ ë‘ Seriesì˜ í•©ì„ êµ¬í•˜ì„¸ìš”.
s1 = pd.Series([3, 5, 7], index=['a', 'b', 'c'])
s2 = pd.Series([10, 20, 30], index=['b', 'c', 'd'])
result = s1 + s2
print("ğŸ“ë¬¸ì œ5:\n",result)
print()
# 6. Series [1, 2, 3, 4, 5]ì˜ ê° ê°’ì— 10ì„ ë”í•œ Seriesë¥¼ ë§Œë“œì„¸ìš”.
data = [1, 2, 3, 4]
s = pd.Series(data)
print("ğŸ“ë¬¸ì œ6:\n",s+10)

ğŸ“ë¬¸ì œ1:
 0     5
1    10
2    15
3    20
dtype: int64

ğŸ“ë¬¸ì œ2:
 êµ­ì–´    90
ì˜ì–´    80
ìˆ˜í•™    85
ê³¼í•™    70
dtype: int64

ğŸ“ë¬¸ì œ3:
 ì„œìš¸    950
ë¶€ì‚°    340
ì¸ì²œ    520
dtype: int64
520

ğŸ“ë¬¸ì œ4:
 dtype: int64

ğŸ“ë¬¸ì œ5:
 a     NaN
b    15.0
c    27.0
d     NaN
dtype: float64

ğŸ“ë¬¸ì œ6:
 0    11
1    12
2    13
3    14
dtype: int64

### DataFrame
- 2ì°¨ì› ë¼ë²¨ ë°ì´í„° êµ¬ì¡°
- ì‹œë¦¬ì¦ˆë¥¼ ëª¨ì•„ë†“ì€ ê²ƒ
- í–‰ê³¼ ì—´ì´ ìˆê³ , í–‰ê³¼ ì—´ì— ëŒ€í•´ ë¼ë²¨ì„ ë¶€ì—¬í•  ìˆ˜ ìˆìŒ

In [15]:
# DataFrame ìƒì„±
# 1. ë”•ì…”ë„ˆë¦¬ë¡œ ìƒì„±
data = {
    "ì´ë¦„" : ["ì´ì•ˆ", "ì² ìˆ˜", "ì˜í¬"], 
    "ë‚˜ì´" : [5,6,7], 
    "ë„ì‹œ" : ["ì„œìš¸", "ë‰´ìš•", "ë©œë²„ë¥¸"], 
}

df = pd.DataFrame(data)
df

   ì´ë¦„  ë‚˜ì´   ë„ì‹œ
0  ì´ì•ˆ   5   ì„œìš¸
1  ì² ìˆ˜   6   ë‰´ìš•
2  ì˜í¬   7  ë©œë²„ë¥¸

In [16]:
# 2. ë¦¬ìŠ¤íŠ¸ì˜ ë¦¬ìŠ¤íŠ¸(2ì°¨ì› ë¦¬ìŠ¤íŠ¸)ë¡œ ìƒì„±
data = [[1,"a"], [2,"b"], [3,"c"]]
df = pd.DataFrame(data, columns = ["ë²ˆí˜¸", "ì½”ë“œ"])
print(df)

   ë²ˆí˜¸ ì½”ë“œ
0   1  a
1   2  b
2   3  c

In [17]:
# 3. ë”•ì…”ë„ˆë¦¬ì˜ ë¦¬ìŠ¤íŠ¸ë¡œ ìƒì„±
data = [
    {"ì´ë¦„":"ì´ì•ˆ", "ë‚˜ì´":15, "ì‚¬ëŠ” ê³³":"ì°½ë™"},
    {"ì´ë¦„":"ì² ìˆ˜", "ë‚˜ì´":10, "ì‚¬ëŠ” ê³³":"ë‰´ìš•"},
    {"ì´ë¦„":"ì˜í¬", "ë‚˜ì´":5, "ì‚¬ëŠ” ê³³":"ë„ì¿„"},
    {"ì´ë¦„":"ë¯¼ìˆ˜", "ë‚˜ì´":7, "ì‚¬ëŠ” ê³³":"ë©œë²„ë¥¸"},
]

df = pd.DataFrame(data)
df

   ì´ë¦„  ë‚˜ì´ ì‚¬ëŠ” ê³³
0  ì´ì•ˆ  15   ì°½ë™
1  ì² ìˆ˜  10   ë‰´ìš•
2  ì˜í¬   5   ë„ì¿„
3  ë¯¼ìˆ˜   7  ë©œë²„ë¥¸

In [18]:
# 4. ì‹œë¦¬ì¦ˆì˜ ë”•ì…”ë„ˆë¦¬ë¡œ ìƒì„±
s1 = pd.Series(['êµ­ì–´', 'ì˜ì–´', 'ìˆ˜í•™'], index=["a", "b", "c"])
s2 = pd.Series([100,90,85], index=["a", "b", "c"])
df = pd.DataFrame({"ê³¼ëª©": s1, "ì ìˆ˜": s2})
df

   ê³¼ëª©   ì ìˆ˜
a  êµ­ì–´  100
b  ì˜ì–´   90
c  ìˆ˜í•™   85

In [24]:
# ë°ì´í„° í”„ë ˆì„ ê¸°ë³¸ ì†ì„±
data = [
    {"ì´ë¦„":"ì´ì•ˆ", "ë‚˜ì´":15, "ì‚¬ëŠ” ê³³":"ì°½ë™"},
    {"ì´ë¦„":"ì² ìˆ˜", "ë‚˜ì´":10, "ì‚¬ëŠ” ê³³":"ë‰´ìš•"},
    {"ì´ë¦„":"ì˜í¬", "ë‚˜ì´":5, "ì‚¬ëŠ” ê³³":"ë„ì¿„"},
    {"ì´ë¦„":"ë¯¼ìˆ˜", "ë‚˜ì´":7, "ì‚¬ëŠ” ê³³":"ë©œë²„ë¥¸"},
]

df = pd.DataFrame(data)

print("shape:", df.shape)
print("columns:", df.columns)
print("index:", df.index)
print("dtypes:", df.dtypes)
print("values:", df.values)
print("info:")
df.info

shape: (4, 3)
columns: Index(['ì´ë¦„', 'ë‚˜ì´', 'ì‚¬ëŠ” ê³³'], dtype='object')
index: RangeIndex(start=0, stop=4, step=1)
dtypes: ì´ë¦„      object
ë‚˜ì´       int64
ì‚¬ëŠ” ê³³    object
dtype: object
values: [['ì´ì•ˆ' 15 'ì°½ë™']
 ['ì² ìˆ˜' 10 'ë‰´ìš•']
 ['ì˜í¬' 5 'ë„ì¿„']
 ['ë¯¼ìˆ˜' 7 'ë©œë²„ë¥¸']]
info:

<bound method DataFrame.info of    ì´ë¦„  ë‚˜ì´ ì‚¬ëŠ” ê³³
0  ì´ì•ˆ  15   ì°½ë™
1  ì² ìˆ˜  10   ë‰´ìš•
2  ì˜í¬   5   ë„ì¿„
3  ë¯¼ìˆ˜   7  ë©œë²„ë¥¸>

In [44]:
# ì‹¤ìŠµ.  DataFrame ì—°ìŠµ
# 1. ë‹¤ìŒ ë°ì´í„°ë¡œ DataFrameì„ ìƒì„±í•˜ê³ , ì»¬ëŸ¼ëª…ì„ 'ì´ë¦„', 'ë‚˜ì´', 'ë„ì‹œ'ë¡œ ì§€ì •í•˜ì„¸ìš”.
data = [['í™ê¸¸ë™', 28, 'ì„œìš¸'], ['ê¹€ì² ìˆ˜', 33, 'ë¶€ì‚°'], ['ì´ì˜í¬', 25, 'ëŒ€êµ¬']]
df = pd.DataFrame(data, columns = ["ì´ë¦„", "ë‚˜ì´", "ë„ì‹œ"])
print("ğŸ“ë¬¸ì œ1:\n", df)
print()
# 2. ì•„ë˜ì™€ ê°™ì€ ë”•ì…”ë„ˆë¦¬ë¡œ DataFrameì„ ìƒì„±í•˜ì„¸ìš”.
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)
print("ğŸ“ë¬¸ì œ2:\n",df)
print()
# 3. ì•„ë˜ ë°ì´í„°ë¥¼ ì‚¬ìš©í•´ DataFrameì„ ë§Œë“œì„¸ìš”.
data =  [{'ê³¼ëª©': 'ìˆ˜í•™', 'ì ìˆ˜': 90}, {'ê³¼ëª©': 'ì˜ì–´', 'ì ìˆ˜': 85}, {'ê³¼ëª©': 'ê³¼í•™', 'ì ìˆ˜': 95}]
df = pd.DataFrame(data)
print("ğŸ“ë¬¸ì œ3:\n",df)
print()
# 4. ì•„ë˜ ë°ì´í„°ë¥¼ ì‚¬ìš©í•´ DataFrameì„ ìƒì„±í•˜ë˜, ì¸ë±ìŠ¤ë¥¼ ['í•™ìƒ1', 'í•™ìƒ2', 'í•™ìƒ3']ìœ¼ë¡œ ì§€ì •í•˜ì„¸ìš”.
data = {'ì´ë¦„': ['ë¯¼ìˆ˜', 'ì˜í¬', 'ì² ìˆ˜'], 'ì ìˆ˜': [80, 92, 77]}
df = pd.DataFrame(data, index = ['í•™ìƒ1', 'í•™ìƒ2', 'í•™ìƒ3'])
print("ğŸ“ë¬¸ì œ4:\n",df)
print()
# 5. ì•„ë˜ Series ê°ì²´ 2ê°œë¥¼ ì´ìš©í•´ DataFrameì„ ë§Œë“œì„¸ìš”.
kor = pd.Series([90, 85, 80], index=['a', 'b', 'c'])
eng = pd.Series([95, 88, 82], index=['a', 'b', 'c'])
data = {"í•œêµ­ì–´": kor,"ì˜ì–´": eng}
df = pd.DataFrame(data)
print("ğŸ“ë¬¸ì œ5:\n",df)
print()
# 6. ì•„ë˜ ë”•ì…”ë„ˆë¦¬ë¡œ DataFrameì„ ë§Œë“¤ê³ , ì»¬ëŸ¼ ìˆœì„œë¥¼ ['B', 'A']ë¡œ ì§€ì •í•´ ì¶œë ¥í•˜ì„¸ìš”.
data =  {'A': [1, 2], 'B': [3, 4]}
df = pd.DataFrame(data, columns = ['B', 'A'])
print("ğŸ“ë¬¸ì œ6:\n",df)
print()
# 7. ë°ì´í„°ë¥¼ DataFrameìœ¼ë¡œ ë§Œë“¤ê³ , ì»¬ëŸ¼ëª…ì„ ['product', 'price', 'stock']ìœ¼ë¡œ ë³€ê²½í•˜ì„¸ìš”.
data = [['íœ', 1000, 50], ['ë…¸íŠ¸', 2000, 30]]
df = pd.DataFrame(data, columns = ['product', 'price', 'stock'])
print("ğŸ“ë¬¸ì œ7:\n",df)
print()
# 8. ì•„ë˜ DataFrameì„ ìƒì„±í•œ ë’¤, 'êµ­ê°€' ì»¬ëŸ¼ë§Œ ì¶”ì¶œí•˜ì„¸ìš”.
data = {'êµ­ê°€': ['í•œêµ­', 'ì¼ë³¸', 'ë¯¸êµ­'], 'ìˆ˜ë„': ['ì„œìš¸', 'ë„ì¿„', 'ì›Œì‹±í„´']}
df = pd.DataFrame(data)
print("ğŸ“ë¬¸ì œ8:\n",df['êµ­ê°€'])

ğŸ“ë¬¸ì œ1:
     ì´ë¦„  ë‚˜ì´  ë„ì‹œ
0  í™ê¸¸ë™  28  ì„œìš¸
1  ê¹€ì² ìˆ˜  33  ë¶€ì‚°
2  ì´ì˜í¬  25  ëŒ€êµ¬

ğŸ“ë¬¸ì œ2:
    A  B
0  1  4
1  2  5
2  3  6

ğŸ“ë¬¸ì œ3:
    ê³¼ëª©  ì ìˆ˜
0  ìˆ˜í•™  90
1  ì˜ì–´  85
2  ê³¼í•™  95

ğŸ“ë¬¸ì œ4:
      ì´ë¦„  ì ìˆ˜
í•™ìƒ1  ë¯¼ìˆ˜  80
í•™ìƒ2  ì˜í¬  92
í•™ìƒ3  ì² ìˆ˜  77

ğŸ“ë¬¸ì œ5:
    í•œêµ­ì–´  ì˜ì–´
a   90  95
b   85  88
c   80  82

ğŸ“ë¬¸ì œ6:
    B  A
0  3  1
1  4  2

ğŸ“ë¬¸ì œ7:
   product  price  stock
0       íœ   1000     50
1      ë…¸íŠ¸   2000     30

ğŸ“ë¬¸ì œ8:
 0    í•œêµ­
1    ì¼ë³¸
2    ë¯¸êµ­
Name: êµ­ê°€, dtype: object

In [83]:
# ë°ì´í„° íƒìƒ‰ê³¼ ìš”ì•½
data = {
    "ì´ë¦„": ["í™ê¸¸ë™", "ì´ìˆœì‹ ", "ê¹€ìœ ì‹ ", "ê°•ê°ì°¬", "ì¥ë³´ê³ ", "ì´ë°©ì›"],
    "ë‚˜ì´": [23, 35, 31, 40, 28, 34],
    "ì§ì—…": ["í•™ìƒ", "êµ°ì¸", "ì¥êµ°", "ì¥êµ°", "ìƒì¸", "ì™•ì"]
}
df = pd.DataFrame(data)

In [ ]:
# ë°ì´í„° ì•ë¶€ë¶„ ë¯¸ë¦¬ ë³´ê¸° : head(n)
# ê¸°ë³¸ê°’ n = 5
df.head()
df.head(3)

    ì´ë¦„  ë‚˜ì´  ì§ì—…
0  í™ê¸¸ë™  23  í•™ìƒ
1  ì´ìˆœì‹   35  êµ°ì¸
2  ê¹€ìœ ì‹   31  ì¥êµ°

In [50]:
# ë°ì´í„° ë’·ë¶€ë¶„ ë¯¸ë¦¬ ë³´ê¸° : tail(n)
# ê¸°ë³¸ê°’ n = 5
df.tail()
df.tail(2)

    ì´ë¦„  ë‚˜ì´  ì§ì—…
4  ì¥ë³´ê³   28  ìƒì¸
5  ì´ë°©ì›  34  ì™•ì

In [51]:
# info í•¨ìˆ˜
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ì´ë¦„      6 non-null      object
 1   ë‚˜ì´      6 non-null      int64
 2   ì§ì—…      6 non-null      object
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes

In [ ]:
# describe() í•¨ìˆ˜
df.describe()                    # ê¸°ë³¸ì ìœ¼ë¡œ ìˆ˜ì¹˜í˜• ì»¬ëŸ¼ë§Œ ìš”ì•½
df.describe(include="object")    # ë¬¸ìì—´ ì»¬ëŸ¼ë§Œ ìš”ì•½
df.describe(include="all")       # ëª¨ë“  ì»¬ëŸ¼ ìš”ì•½

         ì´ë¦„         ë‚˜ì´   ì§ì—…
count     6   6.000000    6
unique    6        NaN    5
top     í™ê¸¸ë™        NaN   ì¥êµ°
freq      1        NaN    2
mean    NaN  31.833333  NaN
std     NaN   5.913262  NaN
min     NaN  23.000000  NaN
25%     NaN  28.750000  NaN
50%     NaN  32.500000  NaN
75%     NaN  34.750000  NaN
max     NaN  40.000000  NaN

### ì¸ë±ì‹±ê³¼ ìŠ¬ë¼ì´ì‹±

In [56]:
# ì¸ë±ì‹±
# íŠ¹ì • ì»¬ëŸ¼(ì‹œë¦¬ì¦ˆ) ì„ íƒ
df["ì´ë¦„"]

# ì—¬ëŸ¬ ì»¬ëŸ¼ì„ ë¦¬ìŠ¤íŠ¸ë¡œ ì„ íƒ
df[["ì´ë¦„", "ë‚˜ì´"]]

    ì´ë¦„  ë‚˜ì´
0  í™ê¸¸ë™  23
1  ì´ìˆœì‹   35
2  ê¹€ìœ ì‹   31
3  ê°•ê°ì°¬  40
4  ì¥ë³´ê³   28
5  ì´ë°©ì›  34

In [ ]:
# ì°¸ê³ ìš©

df = pd.DataFrame({
    'name': ['Tom', 'Jane', 'Mike'],
    'age': [20, 25, 30]
})

df["name"]
# . ìœ¼ë¡œë„ ì¡°íšŒê°€ ê°€ëŠ¥í•¨
# ë³€ìˆ˜ëª… ê·œì¹™ì„ ì§€ì¼œì•¼ í•¨.
df.name

0     Tom
1    Jane
2    Mike
Name: name, dtype: object

In [58]:
# ìŠ¬ë¼ì´ì‹±
# ê¸°ë³¸ì ìœ¼ë¡œ í–‰ ê¸°ì¤€ìœ¼ë¡œ ë™ì‘
df[1:4]
df[-3:]

# ìŠ¬ë¼ì´ì‹± í›„ ì¸ë±ì‹±
df[1:4]["ì´ë¦„"]

1    ì´ìˆœì‹
2    ê¹€ìœ ì‹
3    ê°•ê°ì°¬
Name: ì´ë¦„, dtype: object

In [59]:
# ìŠ¬ë¼ì´ì‹±ì€ í–‰ ê¸°ì¤€ìœ¼ë¡œ ì‘ë™, ì—´ ê¸°ì¤€ì€ ë³„ë„ì˜ ë°©ë²•ì„ ì‚¬ìš©
df[:, 0:2]  # ì—ëŸ¬

InvalidIndexError: (slice(None, None, None), slice(0, 2, None))

### iloc, loc

In [ ]:
# iloc
# integer location
# ì •ìˆ˜ ìœ„ì¹˜ ê¸°ë°˜ì˜ ì¸ë±ì‹±, ìŠ¬ë¼ì´ì‹±
# NumPyì˜ ìŠ¬ë¼ì´ì‹±ê³¼ ìœ ì‚¬í•¨(ê±°ì˜ ê°™ìŒ)!!!

# ë‹¨ì¼ í–‰/ì—´ ì„ íƒ
df.iloc[0]      # ì²«ë²ˆì§¸ í–‰
df.iloc[:, 1]   # ë‘ë²ˆì§¸ ì—´

0    23
1    35
2    31
3    40
4    28
5    34
Name: ë‚˜ì´, dtype: int64

In [64]:
# ì—¬ëŸ¬ í–‰/ì—´ ë™ì‹œ ì„ íƒ
df.iloc[1:4]
df.iloc[:, 0:2]
df.iloc[1:4, 0:2]

    ì´ë¦„  ë‚˜ì´
1  ì´ìˆœì‹   35
2  ê¹€ìœ ì‹   31
3  ê°•ê°ì°¬  40

In [67]:
# fancy indexing
df.iloc[[0,2,4]]
df.iloc[:,[1,2]]
df.iloc[[0,2,4],[1,2]]

   ë‚˜ì´  ì§ì—…
0  23  í•™ìƒ
2  31  ì¥êµ°
4  28  ìƒì¸

In [69]:
# ìŒìˆ˜ ì¸ë±ìŠ¤ë¡œ ìŠ¬ë¼ì´ì‹±
df.iloc[-1]
df.iloc[:, -2:]

   ë‚˜ì´  ì§ì—…
0  23  í•™ìƒ
1  35  êµ°ì¸
2  31  ì¥êµ°
3  40  ì¥êµ°
4  28  ìƒì¸
5  34  ì™•ì

In [ ]:
# loc
# locationì˜ ì•½ì
# ë¼ë²¨ì˜ ì´ë¦„ ê¸°ì¤€ìœ¼ë¡œ ì¸ë±ì‹±/ìŠ¬ë¼ì´ì‹±
# ë‹¨ì¼ í–‰/ì—´ ì„ íƒ
# ì‹œì‘ê³¼ ëì„ ëª¨ë‘ í¬í•¨
# ìŒìˆ˜ ì¸ë±ìŠ¤ ì‚¬ìš© x
df.loc[0]
df.loc[:,"ì´ë¦„"]

0    í™ê¸¸ë™
1    ì´ìˆœì‹
2    ê¹€ìœ ì‹
3    ê°•ê°ì°¬
4    ì¥ë³´ê³
5    ì´ë°©ì›
Name: ì´ë¦„, dtype: object

In [72]:
# ì—¬ëŸ¬ í–‰/ì—´ ì„ íƒ
df.loc[2:4,["ì´ë¦„", "ì§ì—…"]]

    ì´ë¦„  ì§ì—…
2  ê¹€ìœ ì‹   ì¥êµ°
3  ê°•ê°ì°¬  ì¥êµ°
4  ì¥ë³´ê³   ìƒì¸

In [75]:
# ì¡°ê±´ì‹
mask = df["ë‚˜ì´"] >= 30
df.loc[mask, ["ì´ë¦„","ë‚˜ì´"]]

    ì´ë¦„  ë‚˜ì´
1  ì´ìˆœì‹   35
2  ê¹€ìœ ì‹   31
3  ê°•ê°ì°¬  40
5  ì´ë°©ì›  34

In [87]:
# ì»¬ëŸ¼ì„ ì¸ë±ìŠ¤ë¡œ ì§€ì •
df2 = df.set_index("ì´ë¦„")
df2
df2.loc["ì´ìˆœì‹ "]
df2.loc[["ì´ìˆœì‹ ", "ê°•ê°ì°¬", "ì¥ë³´ê³ "]]

     ë‚˜ì´  ì§ì—…
ì´ë¦„
ì´ìˆœì‹   35  êµ°ì¸
ê°•ê°ì°¬  40  ì¥êµ°
ì¥ë³´ê³   28  ìƒì¸

In [76]:
s1 = pd.Series(['êµ­ì–´', 'ì˜ì–´', 'ìˆ˜í•™'], index=["a", "b", "c"])
s2 = pd.Series([100,90,85], index=["a", "b", "c"])
df = pd.DataFrame({"ê³¼ëª©": s1, "ì ìˆ˜": s2})
df

   ê³¼ëª©   ì ìˆ˜
a  êµ­ì–´  100
b  ì˜ì–´   90
c  ìˆ˜í•™   85

In [ ]:
# í–‰ì— ë¼ë²¨ì´ ìˆì„ ê²½ìš° ë¼ë²¨ì„ ì´ìš©í•´ì„œ ì¸ë±ì‹±/ìŠ¬ë¼ì´ì‹± ê°€ëŠ¥
df.loc[["a","c"], ["ê³¼ëª©"]]

   ê³¼ëª©
a  êµ­ì–´
c  ìˆ˜í•™

In [146]:
# ì‹¤ìŠµ. DataFrame ì—°ìŠµ
data = {
"ì´ë¦„": ["í™ê¸¸ë™", "ì´ìˆœì‹ ", "ê¹€ìœ ì‹ ", "ê°•ê°ì°¬", "ì¥ë³´ê³ ", "ì´ë°©ì›", "ìµœë¬´ì„ ", "ì •ë„ì „"],
"ë‚˜ì´": [23, 35, 31, 40, 28, 34, 42, 29],
"ì§ì—…": ["í•™ìƒ", "êµ°ì¸", "ì¥êµ°", "ì¥êµ°", "ìƒì¸", "ì™•ì", "ê³¼í•™ì", "ì •ì¹˜ê°€"],
"ì ìˆ˜": [85, 90, 75, 88, 92, 95, 87, 83]
}
df = pd.DataFrame(data)
df

    ì´ë¦„  ë‚˜ì´   ì§ì—…  ì ìˆ˜
0  í™ê¸¸ë™  23   í•™ìƒ  85
1  ì´ìˆœì‹   35   êµ°ì¸  90
2  ê¹€ìœ ì‹   31   ì¥êµ°  75
3  ê°•ê°ì°¬  40   ì¥êµ°  88
4  ì¥ë³´ê³   28   ìƒì¸  92
5  ì´ë°©ì›  34   ì™•ì  95
6  ìµœë¬´ì„   42  ê³¼í•™ì  87
7  ì •ë„ì „  29  ì •ì¹˜ê°€  83

In [ ]:
# 1. ilocì„ ì‚¬ìš©í•´ ì¸ë±ìŠ¤ 2~5(í¬í•¨ ì•ˆí•¨) í–‰, 1~3(í¬í•¨ ì•ˆí•¨) ì—´ë§Œ ì„ íƒí•´ ì¶œë ¥í•˜ì„¸ìš”.
df.iloc[2:5, 1:3]

   ë‚˜ì´  ì§ì—…
2  31  ì¥êµ°
3  40  ì¥êµ°
4  28  ìƒì¸

In [ ]:
# 2. locì„ ì‚¬ìš©í•´ ì¸ë±ìŠ¤ 3~6(í¬í•¨!) í–‰, 'ì´ë¦„'ê³¼ 'ì ìˆ˜' ì»¬ëŸ¼ë§Œ ì¶œë ¥í•˜ì„¸ìš”.
df.loc[3:6,["ì´ë¦„", "ì ìˆ˜"]]

    ì´ë¦„  ì ìˆ˜
3  ê°•ê°ì°¬  88
4  ì¥ë³´ê³   92
5  ì´ë°©ì›  95
6  ìµœë¬´ì„   87

In [ ]:
# 3. ilocì„ ì‚¬ìš©í•´, ë§ˆì§€ë§‰ 3ê°œ í–‰ì˜ 'ì§ì—…'ê³¼ 'ì ìˆ˜' ì»¬ëŸ¼ë§Œ ì„ íƒí•´ ì¶œë ¥í•˜ì„¸ìš”
df.iloc[-3:, -2:]

    ì§ì—…  ì ìˆ˜
5   ì™•ì  95
6  ê³¼í•™ì  87
7  ì •ì¹˜ê°€  83

In [ ]:
# 4. ilocì„ ì‚¬ìš©í•´, í™€ìˆ˜ë²ˆì§¸(1, 3, 5, 7ë²ˆ ì¸ë±ìŠ¤) í–‰, ëª¨ë“  ì—´ì„ ì„ íƒí•˜ì„¸ìš”.
df.iloc[[1,3,5,7]]

    ì´ë¦„  ë‚˜ì´   ì§ì—…  ì ìˆ˜
1  ì´ìˆœì‹   35   êµ°ì¸  90
3  ê°•ê°ì°¬  40   ì¥êµ°  88
5  ì´ë°©ì›  34   ì™•ì  95
7  ì •ë„ì „  29  ì •ì¹˜ê°€  83

In [ ]:
# 5. locì„ ì‚¬ìš©í•´, ì¸ë±ìŠ¤ 4~7ë²ˆ í–‰, 'ë‚˜ì´', 'ì ìˆ˜' ì»¬ëŸ¼ë§Œ ì¶œë ¥í•˜ì„¸ìš”.
df.loc[4:7,["ë‚˜ì´", "ì ìˆ˜"]]
df.loc[4:7,"ë‚˜ì´":"ì ìˆ˜":2]     # ì´ë ‡ê²Œë„ í’€ ìˆ˜ ìˆìŒ~

   ë‚˜ì´  ì ìˆ˜
4  28  92
5  34  95
6  42  87
7  29  83

In [ ]:
# 6. ilocì„ ì‚¬ìš©í•´, ì§ìˆ˜ë²ˆì§¸(0,2,4,6) í–‰ê³¼ ì§ìˆ˜ë²ˆì§¸(0,2) ì—´ë§Œ ì„ íƒí•˜ì„¸ìš”.
df.iloc[0::2, [0,2]]

    ì´ë¦„   ì§ì—…
0  í™ê¸¸ë™   í•™ìƒ
2  ê¹€ìœ ì‹    ì¥êµ°
4  ì¥ë³´ê³    ìƒì¸
6  ìµœë¬´ì„   ê³¼í•™ì

### í†µê³„í•¨ìˆ˜

In [138]:
data = {
    "ìƒí’ˆëª…": ["ë¬´ì„  ì´ì–´í°", "ìŠ¤ë§ˆíŠ¸ ì›Œì¹˜", "í…€ë¸”ëŸ¬", "ë…¸íŠ¸ë¶", "ë¸”ë£¨íˆ¬ìŠ¤ ìŠ¤í”¼ì»¤", "ë¬´ë“œë“±"],
    "ê°€ê²©": [129000, 250000, 15000, 1200000, 85000, 22000],
    "ì¬ê³ ": [23, 12, 54, 5, 17, 31]
}
df = pd.DataFrame(data)
df

        ìƒí’ˆëª…       ê°€ê²©  ì¬ê³
0    ë¬´ì„  ì´ì–´í°   129000  23
1    ìŠ¤ë§ˆíŠ¸ ì›Œì¹˜   250000  12
2       í…€ë¸”ëŸ¬    15000  54
3       ë…¸íŠ¸ë¶  1200000   5
4  ë¸”ë£¨íˆ¬ìŠ¤ ìŠ¤í”¼ì»¤    85000  17
5       ë¬´ë“œë“±    22000  31

In [ ]:
df.describe(include="all")
df["ê°€ê²©"].describe

<bound method NDFrame.describe of 0     129000
1     250000
2      15000
3    1200000
4      85000
5      22000
Name: ê°€ê²©, dtype: int64>

In [110]:
# í‰ê· 
print("í‰ê· :",df["ê°€ê²©"].mean())

# ì¤‘ì•™ê°’
print("ì¤‘ì•™ê°’:",df["ì¬ê³ "].median())

# í‘œì¤€í¸ì°¨
print("í‘œì¤€í¸ì°¨:",df["ê°€ê²©"].std())

# ë¶„ì‚°
print("ë¶„ì‚°:",df["ì¬ê³ "].var())

# ê°’ì˜ ê°œìˆ˜
print("ê°’ì˜ ê°œìˆ˜:",df["ìƒí’ˆëª…"].count())

# ìµœëŒ€ê°’
print("ìµœëŒ€ê°’:",df["ê°€ê²©"].max())

# ìµœì†Œê°’
print("ìµœì†Œê°’:",df["ê°€ê²©"].min())

# í•©ê³„
print("í•©ê³„:",df["ê°€ê²©"].sum())

í‰ê· : 283500.0
ì¤‘ì•™ê°’: 20.0
í‘œì¤€í¸ì°¨: 457130.5065295905
ë¶„ì‚°: 300.6666666666667
ê°’ì˜ ê°œìˆ˜: 6
ìµœëŒ€ê°’: 1200000
ìµœì†Œê°’: 15000
í•©ê³„: 1701000

In [140]:
# ìµœëŒ€ê°’ ìœ„ì¹˜ì™€ ìµœì†Œê°’ì˜ ìœ„ì¹˜
df.idxmax()
print("ìµœëŒ€ê°’ ìœ„ì¹˜:", df["ì¬ê³ "].idxmax())

df.idxmin()
print("ìµœì†Œê°’ ìœ„ì¹˜:", df["ì¬ê³ "].idxmin())

ìµœëŒ€ê°’ ìœ„ì¹˜: 2
ìµœì†Œê°’ ìœ„ì¹˜: 3

### ê²°ì¸¡ê°’ ì²˜ë¦¬
- ê²°ì¸¡ê°’ : ê°’ì´ ê¸°ë¡ë˜ì§€ ì•Šì€ ìƒíƒœì˜ ë°ì´í„°
- NaN : Not a Number

In [123]:
data = {
    "ì´ë¦„": ["ì„œì¤€", "í•˜ì€", "ë¯¼ì¤€", "ì„œì—°", "ì² ìˆ˜", "ì§€ë¯¼"],
    "ë‚˜ì´": [22, 28, np.nan, 31, 27, 24],
    "ì ìˆ˜": [89, np.nan, 83, 90, 88, 93]
}
df = pd.DataFrame(data)
df

   ì´ë¦„    ë‚˜ì´    ì ìˆ˜
0  ì„œì¤€  22.0  89.0
1  í•˜ì€  28.0   NaN
2  ë¯¼ì¤€   NaN  83.0
3  ì„œì—°  31.0  90.0
4  ì² ìˆ˜  27.0  88.0
5  ì§€ë¯¼  24.0  93.0

In [129]:
# ê²°ì¸¡ê°’ íƒì§€
# isnull ê²°ì¸¡ê°’ì´ ë§ìœ¼ë©´ True ì•„ë‹ˆë©´ Falseë¥¼ ë°˜í™˜
print(df.isnull())
print()

# ê° ì»¬ëŸ¼ì˜ ê²°ì¸¡ê°’ì˜ ìˆ˜ ê³„ì‚°
print(df.isnull().sum())

# ë°ì´í„°ì˜ ì „ì²´ ê²°ì¸¡ê°’ ìˆ˜ ê³„ì‚°
df.isnull().sum().sum()

      ì´ë¦„     ë‚˜ì´     ì ìˆ˜
0  False  False  False
1  False  False   True
2  False   True  False
3  False  False  False
4  False  False  False
5  False  False  False

ì´ë¦„    0
ë‚˜ì´    1
ì ìˆ˜    1
dtype: int64

np.int64(2)

In [130]:
# notnull  ê²°ì¸¡ê°’ì´ë©´ True ì•„ë‹ˆë©´ Falseë¥¼ ë°˜í™˜
df.notnull()

     ì´ë¦„     ë‚˜ì´     ì ìˆ˜
0  True   True   True
1  True   True  False
2  True  False   True
3  True   True   True
4  True   True   True
5  True   True   True

In [131]:
# dropna ê²°ì¸¡ê°’ì´ ìˆëŠ” í–‰ ì‚­ì œ
df2 = df.dropna()
df2

   ì´ë¦„    ë‚˜ì´    ì ìˆ˜
0  ì„œì¤€  22.0  89.0
3  ì„œì—°  31.0  90.0
4  ì² ìˆ˜  27.0  88.0
5  ì§€ë¯¼  24.0  93.0

In [132]:
# ê²°ì¸¡ê°’ì´ ìˆëŠ” ì—´ ì‚­ì œ
df3 = df.dropna(axis = 1)
df3

   ì´ë¦„
0  ì„œì¤€
1  í•˜ì€
2  ë¯¼ì¤€
3  ì„œì—°
4  ì² ìˆ˜
5  ì§€ë¯¼

In [125]:
# fillna ê²°ì¸¡ê°’ì„ 0ìœ¼ë¡œ ëŒ€ì²´
df4 = df.fillna(0)
df4

   ì´ë¦„    ë‚˜ì´    ì ìˆ˜
0  ì„œì¤€  22.0  89.0
1  í•˜ì€  28.0   0.0
2  ë¯¼ì¤€   0.0  83.0
3  ì„œì—°  31.0  90.0
4  ì² ìˆ˜  27.0  88.0
5  ì§€ë¯¼  24.0  93.0

In [ ]:
# í‰ê·  ê°’ìœ¼ë¡œ ê²°ì¸¡ê°’ ì±„ìš°ê¸°
avg_age = df["ë‚˜ì´"].mean()
df["ë‚˜ì´"] = df["ë‚˜ì´"].fillna(avg_age)
df

   ì´ë¦„    ë‚˜ì´    ì ìˆ˜
0  ì„œì¤€  22.0  89.0
1  í•˜ì€  28.0   NaN
2  ë¯¼ì¤€  26.4  83.0
3  ì„œì—°  31.0  90.0
4  ì² ìˆ˜  27.0  88.0
5  ì§€ë¯¼  24.0  93.0

In [ ]:
# ì´ì „ ê°’ìœ¼ë¡œ ê²°ì¸¡ê°’ ì±„ìš°ê¸°(forward fill)
df5 = df.fillna(method="ffill")
df5

C:\Users\Administrator\AppData\Local\Temp\ipykernel_16052\3509481149.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df5 = df.fillna(method="ffill")

   ì´ë¦„    ë‚˜ì´    ì ìˆ˜
0  ì„œì¤€  22.0  89.0
1  í•˜ì€  28.0  89.0
2  ë¯¼ì¤€  26.4  83.0
3  ì„œì—°  31.0  90.0
4  ì² ìˆ˜  27.0  88.0
5  ì§€ë¯¼  24.0  93.0

In [135]:
# ë’¤ì˜ ê°’ìœ¼ë¡œ ê²°ì¸¡ê°’ ì±„ìš°ê¸°(backward fill)
df6 = df.fillna(method="bfill")
df6

C:\Users\Administrator\AppData\Local\Temp\ipykernel_16052\956812758.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df6 = df.fillna(method="bfill")

   ì´ë¦„    ë‚˜ì´    ì ìˆ˜
0  ì„œì¤€  22.0  89.0
1  í•˜ì€  28.0  83.0
2  ë¯¼ì¤€  26.4  83.0
3  ì„œì—°  31.0  90.0
4  ì² ìˆ˜  27.0  88.0
5  ì§€ë¯¼  24.0  93.0

In [181]:
# ì‹¤ìŠµ. í†µê³„í•¨ìˆ˜Â·ê²°ì¸¡ê°’ ì²˜ë¦¬ ì—°ìŠµ
data = {
"ë„ì‹œ": ["ì„œìš¸", "ë¶€ì‚°", "ê´‘ì£¼", "ëŒ€êµ¬", np.nan, "ì¶˜ì²œ"],
"ë¯¸ì„¸ë¨¼ì§€": [45, 51, np.nan, 38, 49, np.nan],
"ì´ˆë¯¸ì„¸ë¨¼ì§€": [20, np.nan, 17, 18, 22, 19],
"ê°•ìˆ˜ëŸ‰": [0.0, 2.5, 1.0, np.nan, 3.1, 0.0]
}
df = pd.DataFrame(data)
df

    ë„ì‹œ  ë¯¸ì„¸ë¨¼ì§€  ì´ˆë¯¸ì„¸ë¨¼ì§€  ê°•ìˆ˜ëŸ‰
0   ì„œìš¸  45.0   20.0  0.0
1   ë¶€ì‚°  51.0    NaN  2.5
2   ê´‘ì£¼   NaN   17.0  1.0
3   ëŒ€êµ¬  38.0   18.0  NaN
4  NaN  49.0   22.0  3.1
5   ì¶˜ì²œ   NaN   19.0  0.0

In [176]:
# 1. â€˜ë¯¸ì„¸ë¨¼ì§€â€™ ì»¬ëŸ¼ì˜ í‰ê· ê³¼ ì¤‘ì•™ê°’ì„ êµ¬í•˜ì„¸ìš”.
print("ë¬¸ì œ1.\nğŸŒµ'ë¯¸ì„¸ë¨¼ì§€' í‰ê· :", df["ë¯¸ì„¸ë¨¼ì§€"].mean())
print("ğŸŒµ'ë¯¸ì„¸ë¨¼ì§€' ì¤‘ì•™ê°’:", df["ë¯¸ì„¸ë¨¼ì§€"].median())
print()
# 2. â€˜ì´ˆë¯¸ì„¸ë¨¼ì§€â€™ ì»¬ëŸ¼ì˜ ìµœëŒ“ê°’ê³¼ ìµœì†Ÿê°’ì„ êµ¬í•˜ì„¸ìš”.
print("ë¬¸ì œ2.\nğŸŒµâ€˜ì´ˆë¯¸ì„¸ë¨¼ì§€â€™ ìµœëŒ€ê°’:",df["ì´ˆë¯¸ì„¸ë¨¼ì§€"].max())
print("ğŸŒµâ€˜ì´ˆë¯¸ì„¸ë¨¼ì§€â€™ ìµœì†Œê°’:",df["ì´ˆë¯¸ì„¸ë¨¼ì§€"].min())
print()
# 3. ê° ì»¬ëŸ¼ë³„ ê²°ì¸¡ê°’ ê°œìˆ˜ë¥¼ êµ¬í•˜ì„¸ìš”.
print("ë¬¸ì œ3.\nğŸŒµê° ì»¬ëŸ¼ë³„ ê²°ì¸¡ê°’ ê°œìˆ˜:\n",df.isnull().sum())

ë¬¸ì œ1.
ğŸŒµ'ë¯¸ì„¸ë¨¼ì§€' í‰ê· : 45.75
ğŸŒµ'ë¯¸ì„¸ë¨¼ì§€' ì¤‘ì•™ê°’: 47.0

ë¬¸ì œ2.
ğŸŒµâ€˜ì´ˆë¯¸ì„¸ë¨¼ì§€â€™ ìµœëŒ€ê°’: 22.0
ğŸŒµâ€˜ì´ˆë¯¸ì„¸ë¨¼ì§€â€™ ìµœì†Œê°’: 17.0

ë¬¸ì œ3.
ğŸŒµê° ì»¬ëŸ¼ë³„ ê²°ì¸¡ê°’ ê°œìˆ˜:
 ë„ì‹œ       1
ë¯¸ì„¸ë¨¼ì§€     2
ì´ˆë¯¸ì„¸ë¨¼ì§€    1
ê°•ìˆ˜ëŸ‰      1
dtype: int64

In [177]:
# 4. ê²°ì¸¡ê°’ì´ í•˜ë‚˜ë¼ë„ ìˆëŠ” í–‰ì„ ëª¨ë‘ ì‚­ì œí•œ ë’¤, ë‚¨ì€ ë°ì´í„°ì˜ â€˜ì´ˆë¯¸ì„¸ë¨¼ì§€â€™ í‰ê· ì„ êµ¬í•˜ì„¸ìš”.
df1 = df.dropna()
print("ë¬¸ì œ4.")
print("ğŸŒµ'ì´ˆë¯¸ì„¸ë¨¼ì§€' í‰ê· :",df1["ì´ˆë¯¸ì„¸ë¨¼ì§€"].mean())
df1

ë¬¸ì œ4.
ğŸŒµ'ì´ˆë¯¸ì„¸ë¨¼ì§€' í‰ê· : 20.0

   ë„ì‹œ  ë¯¸ì„¸ë¨¼ì§€  ì´ˆë¯¸ì„¸ë¨¼ì§€  ê°•ìˆ˜ëŸ‰
0  ì„œìš¸  45.0   20.0  0.0

In [174]:
# 5. ê²°ì¸¡ê°’ì„ ëª¨ë‘ 0ìœ¼ë¡œ ì±„ìš´ ë’¤, â€˜ë¯¸ì„¸ë¨¼ì§€â€™ì™€ â€˜ì´ˆë¯¸ì„¸ë¨¼ì§€â€™ì˜ í•©ê³„ë¥¼ ê°ê° êµ¬í•˜ì„¸ìš”.
df2 = df.fillna(0)
print("ë¬¸ì œ5.")
print("ğŸŒµ'ë¯¸ì„¸ë¨¼ì§€' í•©ê³„:",df["ë¯¸ì„¸ë¨¼ì§€"].sum())
print("ğŸŒµ'ì´ˆë¯¸ì„¸ë¨¼ì§€' í•©ê³„:",df["ì´ˆë¯¸ì„¸ë¨¼ì§€"].sum())
df2

ë¬¸ì œ5.
ğŸŒµ'ë¯¸ì„¸ë¨¼ì§€' í•©ê³„: 183.0
ğŸŒµ'ì´ˆë¯¸ì„¸ë¨¼ì§€' í•©ê³„: 96.0

   ë„ì‹œ  ë¯¸ì„¸ë¨¼ì§€  ì´ˆë¯¸ì„¸ë¨¼ì§€  ê°•ìˆ˜ëŸ‰
0  ì„œìš¸  45.0   20.0  0.0
1  ë¶€ì‚°  51.0    0.0  2.5
2  ê´‘ì£¼   0.0   17.0  1.0
3  ëŒ€êµ¬  38.0   18.0  0.0
4   0  49.0   22.0  3.1
5  ì¶˜ì²œ   0.0   19.0  0.0

In [184]:
# 6. â€˜ë¯¸ì„¸ë¨¼ì§€â€™ ì»¬ëŸ¼ì˜ ê²°ì¸¡ê°’ì„ í‰ê· ê°’ìœ¼ë¡œ ì±„ìš´ ë’¤, ê·¸ í‘œì¤€í¸ì°¨ë¥¼ êµ¬í•˜ì„¸ìš”.
fd_mean = df["ë¯¸ì„¸ë¨¼ì§€"].mean()
print("ë¬¸ì œ6.")
df4 = df.copy()
df4["ë¯¸ì„¸ë¨¼ì§€"]=df["ë¯¸ì„¸ë¨¼ì§€"].fillna(fd_mean)
print("ğŸŒµ'ë¯¸ì„¸ë¨¼ì§€' í‘œì¤€í¸ì°¨:",df4["ë¯¸ì„¸ë¨¼ì§€"].std())
df4

ë¬¸ì œ6.
ğŸŒµ'ë¯¸ì„¸ë¨¼ì§€' í‘œì¤€í¸ì°¨: 4.444097208657794

    ë„ì‹œ   ë¯¸ì„¸ë¨¼ì§€  ì´ˆë¯¸ì„¸ë¨¼ì§€  ê°•ìˆ˜ëŸ‰
0   ì„œìš¸  45.00   20.0  0.0
1   ë¶€ì‚°  51.00    NaN  2.5
2   ê´‘ì£¼  45.75   17.0  1.0
3   ëŒ€êµ¬  38.00   18.0  NaN
4  NaN  49.00   22.0  3.1
5   ì¶˜ì²œ  45.75   19.0  0.0